.App {
  background-color: rgb(33, 33, 34);
  color: #f5f6f8;
  width: 100%;
  background-image: url("https://cdn.wallpapersafari.com/81/64/zNPon3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
}

.container {
  max-height: 100%;
}
.containerRow {
  background-color: rgb(30, 29, 30);
  max-height: 100vh;
}
.col-left {
  max-height: 100vh;
}
.col-right {
  max-height: 100vh;
  font-size: 0.8rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f5f6f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
